{% extends 'base.html' %}
{% block content %}
<div class="col-9">
    <br><br>

    <h3>{{taskname}}</h3>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
            </tr>
        </thead>
        <tbody>
            {% for time in times %}
            <tr>
                
                <td>{{time.description}}</td>
                <td>{{time.start_time|date:"j M"}} {{time.start_time|time:"H:i A"}}</td>
                <td>{{time.end_time|date:"j M"}} {{time.end_time|time:"H:i A"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
